<template>
  <Layout>
    <div class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1 class="title is-1">
              ABC Hospital System
            </h1>
            <h2 class="subtitle is-3">
              Price Transparency Tool & No Surprises Act
            </h2>
          </div>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <g-image
                    src="~/../static/images/hospitals/graham-ruttan-b3LF7JHQmms-unsplash.jpg"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">
                      Hospital A In Process
                    </p>
                    <p class="subtitle is-6">
                      247 Abernathy Dam, New Bill, Arkansas USA 65122
                    </p>
                  </div>
                </div>

                <div class="content">
                  <p>Contact us: (787) 433-2123</p>
                  <p>Visiting hours 7:00 am - 8:00 pm</p>
                  <i>This hospital has Joint Commission Accreditation</i>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  class="card-footer-item"
                  @click="goToPricing('Hosp. San Roberto')"
                >View shoppable prices</a>
                <a
                  href="https://www.pvhmc.org/documents/Insurance-Combined-List-2021-12.txt"
                  class="card-footer-item"
                >View machine readable</a>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <g-image
                    src="~/../static/images/hospitals/andrew-coop-8PB_TFEy2XQ-unsplash.jpg"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">
                      Hospital San Pedro
                    </p>
                    <p class="subtitle is-6">
                      545 Gabriel Highway, Haagberg, Rhode Island USA 67362
                    </p>
                  </div>
                </div>

                <div class="content">
                  <p>Contact us: (939) 421-4433</p>
                  <p>Visiting hours 7:00 am - 8:00 pm</p>
                  <i>This hospital has Joint Commission Accreditation</i>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  class="card-footer-item"
                  @click="goToPricing('Hosp. San Pedro')"
                >View shoppable prices</a>
                <a
                  href="https://www.pvhmc.org/documents/Insurance-Combined-List-2021-12.txt"
                  class="card-footer-item"
                >View machine readable</a>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <g-image
                    src="~/../static/images/hospitals/esaias-tan-JeWyWRMH4rQ-unsplash.jpg"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">
                      Hospital Santa Elena
                    </p>
                    <p class="subtitle is-6">
                      70289 Vance Junction, Garryfurt, Maryland USA 51239
                    </p>
                  </div>
                </div>

                <div class="content">
                  <p>Contact us: (546) 540-1010</p>
                  <p>Visiting hours 7:00 am - 8:00 pm</p>

                  <i>This hospital has Joint Commission Accreditation</i>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  class="card-footer-item"
                  @click="goToPricing('Hosp. Santa Elena')"
                >View shoppable prices</a>
                <a
                  href="https://www.pvhmc.org/documents/Insurance-Combined-List-2021-12.txt"
                  class="card-footer-item"
                >View machine readable</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-6 content">
            <h3 class="title">
              Price Transparency
            </h3>
            <p>Effective January 1, 2021, CMS regulation requires all hospitals to make public their standard charges for items and services provided to patients in two parts:</p>
            <ol>
              <li>Machine-readable format</li>
              <li>300 shoppable services</li>
            </ol>
            <p>
              ABC Hospital system is committed to providing meaningful information about our healthcare services and our price structures for items and services we provide. Above you may have access to each of our hospitals’ pricing structure.
            </p>
            <ul>
              <li>Shoppable Services (Friendly User File)- The links above will provide our cash discounted – self-pay price for all items and services, including payer-specific negotiated charges, minimum payer negotiated charge, maximum payer negotiated charge. This file includes pricing for those services that are normally programmed in advanced. These include 300 (most common) items of which 70 are specifically mandated by the Center for Medicare and Medicaid Services (CMS).</li>
              <li>Machine Readable File  - For the machine-readable file, the links above will provide our standard charges for all items and services, including gross charge, payer-specific negotiated charges, minimum payer negotiated charge, maximum payer negotiated charge, and the self-pay price.</li>
            </ul>
          </div>
          <div class="column is-6 content">
            <h3 class="title">
              No Surprises Act
            </h3>
            <ul>
              <li><a href="/non-surprise-billing.pdf">Disclosure Notice on Patient Protections Against Surprise Billing</a> (Sect 2799B-3 of PHSA)</li>
              <li><a href="/protection-form.pdf">Standard Notice and Consent Under No Surprises Act</a> (Sect 2799B-2 of PHSA)</li>
              <li>Good Faith Estimates for Uninsured (or Self-Pay) Individuals (Sec. 2799B-6)</li>
              <li>PR Law #134 of Sept. 1, 2021</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
export default {
  data() {
    return {
      hospital: '',
      hospitals: [
        { id: 1, name: 'Hosp. San Roberto', img: '~/../static/images/hospitals/alexander-popov-EcSg9KxH8lQ-unsplash.jpg' },
        { id: 2, name: 'Hosp. San Pedro', img: '~/../static/images/hospitals/' },
        { id: 3, name: 'Hosp. Santa Elena', img: '~/../static/images/hospitals/' },
      ],
    };
  },
  methods: {
    goToPricing(hospital) {
      this.$router.push({ path: `/pricing?hospital=${hospital}` });
    },
  },
};
</script>

<style>
.is-active .al img {
    filter: grayscale(0%);
}
.al img {
    filter: grayscale(100%);
}
</style>
