<template>
  <Layout :no-container="true">
    <section class="hero is-medium is-primary is-bold has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            <abbr title="Comparative Hospital-Healthplans Out of Pocket Information Cost Estimator Services">CHOICES</abbr> Medical
          </h1>
          <h2 class="subtitle is-3">
            Fully hands-off compliance with price transparency requirements
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container is-fullhd">
        <div class="columns is-multiline">
          <div class="column is-full has-margin-bottom-40">
            <h3 class="title is-2">
              Public Health Service Act Compliance
            </h3>
            <h4 class="subtitle is-4">
              <b class="has-background-warning">January 1, 2021 deadline for compliance</b>
            </h4>
            <p>Section 2718 (e) of the <a href="https://en.wikipedia.org/wiki/Public_Health_Service_Act">Public Health Service Act</a> requires each hospital operating in the United States to establish, update and make public a yearly list of the hospital’s standard charges for items and services provided by the hospital beginning on January 1, 2021.</p>
          </div>
          <div class="column content">
            <h3 class="is-size-4">
              Comply with <abbr title="Centers for Medicare & Medicaid Services">CMS</abbr> mandated requirements... with minimal effort
            </h3>
            <p>You can call us and we will do everything for you.</p>
            <ul>
              <li>Save time by having us take care of data entry.</li>
              <li>Don't spend money on servers or infrastructure.</li>
              <li>Peace of mind. No worries regarding errors in compliance. </li>
            </ul>
            <h4>Compliance Requirements</h4>
            <p>Pricing information must be published in a two formats:</p>
            <ol>
              <li>Machine readable format (for all items and services)</li>
              <li>Consumer friendly format (for 300 items and services of which 70 are prescribed by CMS)</li>
            </ol>
          </div>
          <div class="column has-margin-bottom-40">
            <g-image src="~/../static/images/document-flow.png" />
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <g-image src="~/../static/images/abstract-customer-support.png" />
          </div>
          <div class="column content">
            <h3 class="is-size-4">
              Questions or concerns? We've got your back!
            </h3>
            <p>Our support team is available to help via phone and email.</p>
            <ul>
              <li><a href="tel:787-225-4661">Call us at 787-225-4661!</a></li>
              <li><a href="mailto:cygnushealthcare.inc@gmail.com">E-mail us!</a></li>
            </ul>
          </div>
        </div>
        <div class="section">
          <div class="has-text-centered content">
            <h3 class="is-size-2">
              Our Team
            </h3>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <h4 class="is-size-4">
                Andres Rodríguez, CPA
              </h4>
              <figure class="image is-128x128">
                <g-image
                  class="is-rounded"
                  src="~/../static/images/andres.jpg"
                />
              </figure>
              <p>CPA Andres Rodriguez, subject matter experts in Medicare related issues has over 30 years of experience working with Medicare cost reports, billing, reimbursement and healthcare compliance issues.</p>
            </div>
            <div class="column is-one-third ">
              <h4 class="is-size-4">
                Gabriel Pérez
              </h4>
              <figure class="image is-128x128">
                <g-image
                  class="is-rounded"
                  src="~/../static/images/gabriel.png"
                />
              </figure>
              <p>Gabriel J. Pérez Irizarry has an M.S. in Computer Science from the Georgia Institute of Technology. He has built numerous large web applications such as <a href="https://www.peerfeedback.io">Peer Feedback</a>.</p>
            </div>
            <div class="column is-one-third ">
              <h4 class="is-size-4">
                Eduardo Sotomayor Vicèns
              </h4>
              <figure class="image is-128x128">
                <g-image
                  class="is-rounded"
                  src="~/../static/images/eduardo.jpg"
                />
              </figure>
              <p>Eduardo has over forty years of experience in the healthcare industry. He has been the president of the PR Hospital Association and other important healthcare organizations.</p>
            </div>
          </div>
          <section class="section">
            <div class="columns">
              <div class="column is-two-thirds">
                <div class="content">
                  <div class="has-text-centered">
                    <h3 class="is-size-4">
                      Our areas of expertise
                    </h3>
                    <p>Specialized staff on healthcare financial management, hospital billing, contracting and credentialing with third party payers, Medicare cost report preparation and maintenance of Charge Data Masters.</p>
                  </div>
                  <ul>
                    <li>Evaluating and implementing changes created by new laws and regulations</li>
                    <li>Providing support for the charge description master and coding and billing and Section 2718 (e) of Public Health Service Act</li>
                    <li>Preparing cost reports</li>
                    <li>Evaluating Medicare and Medicaid EHR incentive payments and compliance</li>
                    <li>Requesting relief from TEFRA Ceiling rates</li>
                    <li>Performing capital financing analyses and feasibility studies</li>
                    <li>Evaluating reimbursement changes created by new laws and regulations</li>
                    <li>Assessing compliance and risk on disproportionate share and bad debts payments</li>
                    <li>Analyzing interim rates and settlements</li>
                    <li>Evaluating claims denied by payers and implementing and or recommending corrective action plans</li>
                    <li>Credentialing and contracting with Third Party Payers</li>
                  </ul>
                </div>
              </div>
              <div class="column is-one-third">
                <g-image src="~/../static/images/abstract-track-statistic.png" />
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Compliance with price transparency requirements',
  },
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
 }
</style>
