<template>
  <main>
    <section class="container">
      <b-navbar>
        <template slot="brand">
          <b-navbar-item href="/">
            <figure
              class="image"
            >
              <g-image
                src="~/../static/images/choices.png"
                alt="CHOICES Medical logo"
              />
            </figure>
          </b-navbar-item>
        </template>
        <template slot="start">
          <b-navbar-item href="/">
            Home
          </b-navbar-item>
          <b-navbar-item href="/home">
            Demo
          </b-navbar-item>
        </template>
      </b-navbar>
    </section>
    <section v-if="!noContainer">
      <div class="container is-fullhd">
        <slot />
      </div>
    </section>
    <section v-else>
      <slot />
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            © {{ $static.metadata.siteName }} {{ new Date().getFullYear() }}
          </p>
        </div>
      </div>
    </footer>
  </main>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
  name: 'Default',
  props: {
    noContainer: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style>

</style>
